{"swagger":"2.0","info":{"description":"API 描述","version":"1.0","title":"SuperFuture接口文档","contact":{"name":"SuperFuture","url":"https://www.google.com"}},"host":"www.devsupfut.com","basePath":"/","tags":[{"name":"article-controller","description":"Article Controller"},{"name":"test-controller","description":"Test Controller"},{"name":"公司配置接口","description":"Company Config Controller"},{"name":"合约产品接口","description":"Product Controller"},{"name":"我的社区接口","description":"Community Controller"},{"name":"文件上传接口","description":"File Controller"},{"name":"注册接口","description":"Register Controller"},{"name":"用户信息接口","description":"User Profile Controller"},{"name":"用户端公告相关接口","description":"Announcement Controller"},{"name":"用户认证接口","description":"Auth Controller"},{"name":"登录接口","description":"Login Controller"},{"name":"钱包接口","description":"Wallet Controller"}],"paths":{"/announcement/have_read":{"post":{"tags":["用户端公告相关接口"],"summary":"获取当前需要展示的用户端公告列表","operationId":"haveReadUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"Authorization","in":"header","description":"令牌","required":false,"type":"string"},{"in":"body","name":"announcementHaveReadVo","description":"announcementHaveReadVo","required":true,"schema":{"$ref":"#/definitions/AnnouncementHaveReadVo"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/R«Void»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/announcement/info":{"post":{"tags":["用户端公告相关接口"],"summary":"获取当前需要展示的用户端公告列表","operationId":"infoUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"Authorization","in":"header","description":"令牌","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/R«List«AnnouncementVo»»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/article/details":{"get":{"tags":["article-controller"],"summary":"获取资讯详情","operationId":"getDetailUsingGET","produces":["*/*"],"parameters":[{"name":"Authorization","in":"header","description":"令牌","required":false,"type":"string"},{"name":"id","in":"query","description":"id","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/R«ArticleDetailBO»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/article/page":{"get":{"tags":["article-controller"],"summary":"分页查询文章","operationId":"pageUsingGET","produces":["*/*"],"parameters":[{"name":"Authorization","in":"header","description":"令牌","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Pager«ArticleVo»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/auth/google_token":{"get":{"tags":["用户认证接口"],"summary":"获取谷歌验证秘钥","operationId":"googleTokenUsingGET","produces":["*/*"],"parameters":[{"name":"Authorization","in":"header","description":"令牌","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/R«谷歌验证返回信息»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/auth/google_token/check":{"post":{"tags":["用户认证接口"],"summary":"校验谷歌验证码","operationId":"checkGoogleTokenUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"Authorization","in":"header","description":"令牌","required":false,"type":"string"},{"in":"body","name":"checkReqVo","description":"checkReqVo","required":true,"schema":{"$ref":"#/definitions/谷歌验证模型"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/R«Void»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/auth/identity":{"post":{"tags":["用户认证接口"],"summary":"申请身份认证","operationId":"identityUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"Authorization","in":"header","description":"令牌","required":false,"type":"string"},{"in":"body","name":"identityReqVo","description":"identityReqVo","required":true,"schema":{"$ref":"#/definitions/身份认证模型"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/R«string»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/auth/mobile_no":{"post":{"tags":["用户认证接口"],"summary":"绑定手机号","operationId":"checkMobileNoUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"Authorization","in":"header","description":"令牌","required":false,"type":"string"},{"in":"body","name":"mobileNoReqVo","description":"mobileNoReqVo","required":true,"schema":{"$ref":"#/definitions/手机号模型"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/R«Void»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/auth/pay_password":{"post":{"tags":["用户认证接口"],"summary":"设置支付密码","operationId":"payPasswordUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"Authorization","in":"header","description":"令牌","required":false,"type":"string"},{"in":"body","name":"createReqVo","description":"createReqVo","required":true,"schema":{"$ref":"#/definitions/支付密码"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/R«Void»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/auth/status":{"get":{"tags":["用户认证接口"],"summary":"获取验证状态","operationId":"getAuthStatusUsingGET","produces":["*/*"],"parameters":[{"name":"Authorization","in":"header","description":"令牌","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/R«AuthStatusVo»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/change_password":{"post":{"tags":["登录接口"],"summary":"修改登录密码","operationId":"changePasswordUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"Authorization","in":"header","description":"令牌","required":false,"type":"string"},{"in":"body","name":"changePasswordReqVo","description":"changePasswordReqVo","required":true,"schema":{"$ref":"#/definitions/ChangePasswordReqVo"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/R«Void»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/change_password/email_captcha/check":{"post":{"tags":["登录接口"],"summary":"校验邮箱验证码","operationId":"checkEmailCaptchaUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"Authorization","in":"header","description":"令牌","required":false,"type":"string"},{"in":"body","name":"checkReqVo","description":"checkReqVo","required":true,"schema":{"$ref":"#/definitions/EmailCaptchaCheckReqVo"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/R«随机数模型»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/change_password/email_captcha/send":{"get":{"tags":["登录接口"],"summary":"发送邮箱验证码","operationId":"emailCaptchaUsingGET","produces":["*/*"],"parameters":[{"name":"Authorization","in":"header","description":"令牌","required":false,"type":"string"},{"in":"body","name":"email","description":"邮箱地址","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/R«随机数模型»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/community/friend/page":{"get":{"tags":["我的社区接口"],"summary":"获取朋友列表","operationId":"listAllUsingGET","produces":["*/*"],"parameters":[{"name":"Authorization","in":"header","description":"令牌","required":false,"type":"string"},{"name":"pageNum","in":"query","required":false,"type":"integer","format":"int32"},{"name":"pageSize","in":"query","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Pager«FriendListVo»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/config/online_service":{"post":{"tags":["公司配置接口"],"summary":"获取在线客服链接","operationId":"infoUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"Authorization","in":"header","description":"令牌","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/R«string»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/login":{"post":{"tags":["登录接口"],"summary":"用户登录","operationId":"loginUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"Authorization","in":"header","description":"令牌","required":false,"type":"string"},{"in":"body","name":"loginReqVO","description":"loginReqVO","required":true,"schema":{"$ref":"#/definitions/登录信息"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/R«UserInfoVo»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/login/captcha":{"get":{"tags":["登录接口"],"summary":"获取登录验证码","operationId":"captchaUsingGET","produces":["*/*"],"parameters":[{"name":"Authorization","in":"header","description":"令牌","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/R«CaptchaVo»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/logout":{"get":{"tags":["登录接口"],"summary":"用户登出","operationId":"logoutUsingGET","produces":["*/*"],"parameters":[{"name":"Authorization","in":"header","description":"令牌","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/R«Void»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/product/detail/{id}":{"get":{"tags":["合约产品接口"],"summary":"获取产品详情","operationId":"getProductDetailsUsingGET","produces":["*/*"],"parameters":[{"name":"Authorization","in":"header","description":"令牌","required":false,"type":"string"},{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/R«ProductDetailVo»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/product/list":{"get":{"tags":["合约产品接口"],"summary":"获取产品列表","operationId":"listAllUsingGET_1","produces":["*/*"],"parameters":[{"name":"Authorization","in":"header","description":"令牌","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/R«List«合约产品数据»»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/product/pay":{"post":{"tags":["合约产品接口"],"summary":"购买产品","operationId":"purchaseApplyUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"Authorization","in":"header","description":"令牌","required":false,"type":"string"},{"in":"body","name":"payReqVo","description":"payReqVo","required":true,"schema":{"$ref":"#/definitions/产品支付信息"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/R«Void»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/product/purchase_info":{"get":{"tags":["合约产品接口"],"summary":"获取产品详情","operationId":"productPurchaseInfoUsingGET","produces":["*/*"],"parameters":[{"name":"Authorization","in":"header","description":"令牌","required":false,"type":"string"},{"name":"productId","in":"query","description":"产品ID","required":false,"type":"integer","format":"int64","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/R«合约产品购买信息»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/product/purchased":{"get":{"tags":["合约产品接口"],"summary":"获取已购买的产品列表","operationId":"purchasedListUsingGET","produces":["*/*"],"parameters":[{"name":"Authorization","in":"header","description":"令牌","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/R«List«产品订单模型»»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/product/transaction/{id}/record":{"get":{"tags":["合约产品接口"],"summary":"交易记录","operationId":"pageUsingGET_1","produces":["*/*"],"parameters":[{"name":"Authorization","in":"header","description":"令牌","required":false,"type":"string"},{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int64"},{"name":"pageNum","in":"query","required":false,"type":"integer","format":"int32"},{"name":"pageSize","in":"query","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Pager«TransactionRecordVo»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/product/unbinding":{"post":{"tags":["合约产品接口"],"summary":"购买产品","operationId":"unbindingUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"Authorization","in":"header","description":"令牌","required":false,"type":"string"},{"in":"body","name":"payReqVo","description":"payReqVo","required":true,"schema":{"$ref":"#/definitions/ProductOrderUnbindingReqVo"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/R«Void»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/profile/expend_address":{"get":{"tags":["用户信息接口"],"summary":"获取用户提现地址","operationId":"getExpendAddressUsingGET","produces":["*/*"],"parameters":[{"name":"Authorization","in":"header","description":"令牌","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/R«List«ExpendAddressVo»»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/profile/expend_address/save":{"post":{"tags":["用户信息接口"],"summary":"新增用户提现地址","operationId":"saveUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"Authorization","in":"header","description":"令牌","required":false,"type":"string"},{"in":"body","name":"createVO","description":"createVO","required":true,"schema":{"$ref":"#/definitions/用户提现地址修改模型"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/R«Void»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/profile/info":{"get":{"tags":["用户信息接口"],"summary":"获取用户信息","operationId":"getProfileInfoUsingGET","produces":["*/*"],"parameters":[{"name":"Authorization","in":"header","description":"令牌","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/R«UserProfileInfo»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/register/":{"post":{"tags":["注册接口"],"summary":"用户注册","operationId":"registerUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"Authorization","in":"header","description":"令牌","required":false,"type":"string"},{"in":"body","name":"registerCreateReqVo","description":"registerCreateReqVo","required":true,"schema":{"$ref":"#/definitions/用户注册模型"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/R«Void»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/register/captcha":{"get":{"tags":["注册接口"],"summary":"获取注册验证码","operationId":"captchaUsingGET_1","produces":["*/*"],"parameters":[{"name":"Authorization","in":"header","description":"令牌","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/R«CaptchaVo»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/register/email_captcha/send":{"get":{"tags":["注册接口"],"summary":"发送邮箱验证码","operationId":"emailCaptchaUsingGET_1","produces":["*/*"],"parameters":[{"name":"Authorization","in":"header","description":"令牌","required":false,"type":"string"},{"in":"body","name":"email","description":"邮箱地址","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/R«string»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/reset_google_token":{"post":{"tags":["登录接口"],"summary":"重置谷歌秘钥","operationId":"changePasswordUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"Authorization","in":"header","description":"令牌","required":false,"type":"string"},{"in":"body","name":"restGoogleKeyReqVo","description":"restGoogleKeyReqVo","required":true,"schema":{"$ref":"#/definitions/RestGoogleKeyReqVo"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/R«谷歌验证返回信息»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/reset_google_token/check":{"post":{"tags":["登录接口"],"summary":"校验重置后的谷歌验证码","operationId":"checkGoogleTokenUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"Authorization","in":"header","description":"令牌","required":false,"type":"string"},{"in":"body","name":"checkReqVo","description":"checkReqVo","required":true,"schema":{"$ref":"#/definitions/谷歌验证模型"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/R«Void»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/test/test":{"get":{"tags":["test-controller"],"summary":"test","operationId":"testUsingGET","produces":["*/*"],"parameters":[{"name":"Authorization","in":"header","description":"令牌","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/unauth_login":{"post":{"tags":["登录接口"],"summary":"未认证用户登录","operationId":"unAuthLoginUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"Authorization","in":"header","description":"令牌","required":false,"type":"string"},{"in":"body","name":"unauthLoginReqVO","description":"unauthLoginReqVO","required":true,"schema":{"$ref":"#/definitions/登录信息"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/R«Void»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/upload/{fileType}":{"post":{"tags":["文件上传接口"],"summary":"上传文件","operationId":"uploadUsingPOST","consumes":["multipart/form-data"],"produces":["*/*"],"parameters":[{"name":"Authorization","in":"header","description":"令牌","required":false,"type":"string"},{"name":"file","in":"formData","description":"file","required":true,"type":"file"},{"name":"fileType","in":"path","description":"文件类型,ID_CARD:身份证照片,ARTICLE_COVER:文章封面,ARTICLE_DETAIL:文章详情","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/R«UploadResult»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/wallet/balance":{"get":{"tags":["钱包接口"],"summary":"获取全部钱包余额","operationId":"getAllBalanceUsingGET","produces":["*/*"],"parameters":[{"name":"Authorization","in":"header","description":"令牌","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/R«全部钱包余额模型»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/wallet/balance/{type}":{"get":{"tags":["钱包接口"],"summary":"获取单个钱包余额","operationId":"getBalanceUsingGET","produces":["*/*"],"parameters":[{"name":"Authorization","in":"header","description":"令牌","required":false,"type":"string"},{"name":"type","in":"path","description":"钱包类型,deposit:入金钱包,profit:盈利钱包,community:社区钱包,collection:归集钱包","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/R«AccountBalanceVo»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/wallet/collection/amount":{"post":{"tags":["钱包接口"],"summary":"申请提现","operationId":"createSettOrderUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"Authorization","in":"header","description":"令牌","required":false,"type":"string"},{"in":"body","name":"settAmountReqVo","description":"settAmountReqVo","required":true,"schema":{"$ref":"#/definitions/SettAmountReqVo"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/R«SettAmountResVo»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/wallet/collection/supervisor":{"get":{"tags":["钱包接口"],"summary":"获取用户上级信息","operationId":"getSupervisorInfoUsingGET","produces":["*/*"],"parameters":[{"name":"Authorization","in":"header","description":"令牌","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/R«UserSupervisorInfoVo»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/wallet/collection/transfer":{"post":{"tags":["钱包接口"],"summary":"划转给好友","operationId":"transferToFriendUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"Authorization","in":"header","description":"令牌","required":false,"type":"string"},{"in":"body","name":"transferToFriendReqVo","description":"transferToFriendReqVo","required":true,"schema":{"$ref":"#/definitions/TransferToFriendReqVo"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/R«Void»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/wallet/collection/transfer/username":{"get":{"tags":["钱包接口"],"summary":"划转给好友时查询用户名","operationId":"getUsernameByEmailUsingGET","produces":["*/*"],"parameters":[{"name":"Authorization","in":"header","description":"令牌","required":false,"type":"string"},{"in":"body","name":"email","description":"邮箱地址","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/R«string»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/wallet/collection/withdraw":{"post":{"tags":["钱包接口"],"summary":"申请提现","operationId":"createSettOrderUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"Authorization","in":"header","description":"令牌","required":false,"type":"string"},{"in":"body","name":"settOrderReqVo","description":"settOrderReqVo","required":true,"schema":{"$ref":"#/definitions/SettOrderReqVo"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/R«Void»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/wallet/{token}/address":{"get":{"tags":["钱包接口"],"summary":"获取入金地址","operationId":"getWalletAddressUsingGET","produces":["*/*"],"parameters":[{"name":"Authorization","in":"header","description":"令牌","required":false,"type":"string"},{"name":"token","in":"path","description":"网络线路","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/R«钱包地址信息»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/wallet/{type}/history":{"get":{"tags":["钱包接口"],"summary":"获取钱包明细","operationId":"listHistoryUsingGET","produces":["*/*"],"parameters":[{"name":"Authorization","in":"header","description":"令牌","required":false,"type":"string"},{"name":"type","in":"path","description":"钱包类型,deposit:入金钱包,profit:盈利钱包,community:社区钱包,collection:归集钱包","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/R«List«钱包明细»»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/wallet/{type}/to_collection":{"post":{"tags":["钱包接口"],"summary":"划转到归集钱包","operationId":"transferToCollectionUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"Authorization","in":"header","description":"令牌","required":false,"type":"string"},{"name":"type","in":"path","description":"钱包类型,deposit:入金钱包,profit:盈利钱包,community:社区钱包","required":false,"type":"string"},{"in":"body","name":"walletTransferReqVo","description":"walletTransferReqVo","required":true,"schema":{"$ref":"#/definitions/归集资金模型"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/R«归集资金返回模型»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}}},"definitions":{"AccountBalanceVo":{"type":"object","properties":{"balance":{"type":"number"}},"title":"AccountBalanceVo"},"AnnouncementHaveReadVo":{"type":"object","properties":{"id":{"type":"integer","format":"int64"}},"title":"AnnouncementHaveReadVo"},"AnnouncementVo":{"type":"object","properties":{"content":{"type":"string"},"endTime":{"type":"string"},"haveRead":{"type":"boolean"},"id":{"type":"integer","format":"int64"},"startTime":{"type":"string"},"title":{"type":"string"},"type":{"type":"integer","format":"int64"}},"title":"AnnouncementVo"},"ArticleDetailBO":{"type":"object","properties":{"content":{"type":"string"},"coverUrl":{"type":"string"},"createTime":{"type":"string","format":"date-time"},"id":{"type":"integer","format":"int32"},"imgUrl":{"type":"string"},"modifiedTime":{"type":"string","format":"date-time"},"remark":{"type":"string"},"status":{"type":"integer","format":"int32"},"title":{"type":"string"},"type":{"type":"integer","format":"int32"}},"title":"ArticleDetailBO"},"ArticleVo":{"type":"object","properties":{"coverUrl":{"type":"string"},"createTime":{"type":"string","format":"date-time"},"id":{"type":"integer","format":"int32"},"imgUrl":{"type":"string"},"modifiedTime":{"type":"string","format":"date-time"},"remark":{"type":"string"},"status":{"type":"integer","format":"int32"},"title":{"type":"string"},"type":{"type":"integer","format":"int32"}},"title":"ArticleVo"},"AuthStatusVo":{"type":"object","properties":{"googleToken":{"type":"integer","format":"int32"},"identity":{"type":"integer","format":"int32"},"mobileNo":{"type":"integer","format":"int32"},"wallet":{"type":"integer","format":"int32"}},"title":"AuthStatusVo"},"CaptchaVo":{"type":"object","properties":{"captcha":{"type":"string"},"k":{"type":"string"}},"title":"CaptchaVo"},"ChangePasswordReqVo":{"type":"object","properties":{"code":{"type":"string","description":"谷歌验证码"},"confirmPassword":{"type":"string","description":"确认密码"},"email":{"type":"string"},"nonce":{"type":"string","description":"邮箱验证码随机数"},"password":{"type":"string","description":"支付密码"}},"title":"ChangePasswordReqVo"},"EmailCaptchaCheckReqVo":{"type":"object","properties":{"code":{"type":"string"},"email":{"type":"string"},"nonce":{"type":"string"}},"title":"EmailCaptchaCheckReqVo"},"ExpendAddressVo":{"type":"object","properties":{"address":{"type":"string","description":"钱包地址"},"id":{"type":"integer","format":"int64"},"name":{"type":"string","description":"地址名称"},"type":{"type":"string"}},"title":"ExpendAddressVo"},"FriendListVo":{"type":"object","properties":{"level":{"type":"integer","format":"int32"},"orderAmount":{"type":"integer","format":"int64"},"username":{"type":"string"}},"title":"FriendListVo"},"PageResult«ArticleVo»":{"type":"object","properties":{"list":{"type":"array","items":{"$ref":"#/definitions/ArticleVo"}},"pageNum":{"type":"integer","format":"int64"},"pageSize":{"type":"integer","format":"int64"},"total":{"type":"integer","format":"int64"}},"title":"PageResult«ArticleVo»"},"PageResult«FriendListVo»":{"type":"object","properties":{"list":{"type":"array","items":{"$ref":"#/definitions/FriendListVo"}},"pageNum":{"type":"integer","format":"int64"},"pageSize":{"type":"integer","format":"int64"},"total":{"type":"integer","format":"int64"}},"title":"PageResult«FriendListVo»"},"PageResult«TransactionRecordVo»":{"type":"object","properties":{"list":{"type":"array","items":{"$ref":"#/definitions/TransactionRecordVo"}},"pageNum":{"type":"integer","format":"int64"},"pageSize":{"type":"integer","format":"int64"},"total":{"type":"integer","format":"int64"}},"title":"PageResult«TransactionRecordVo»"},"Pager«ArticleVo»":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"data":{"$ref":"#/definitions/PageResult«ArticleVo»"},"msg":{"type":"string"}},"title":"Pager«ArticleVo»"},"Pager«FriendListVo»":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"data":{"$ref":"#/definitions/PageResult«FriendListVo»"},"msg":{"type":"string"}},"title":"Pager«FriendListVo»"},"Pager«TransactionRecordVo»":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"data":{"$ref":"#/definitions/PageResult«TransactionRecordVo»"},"msg":{"type":"string"}},"title":"Pager«TransactionRecordVo»"},"ProductDetailVo":{"type":"object","properties":{"content":{"type":"string","description":"产品详情"},"productShares":{"type":"array","description":"产品收益","items":{"$ref":"#/definitions/ProductShareVo"}}},"title":"ProductDetailVo"},"ProductOrderUnbindingReqVo":{"type":"object","properties":{"googleCode":{"type":"string","description":"谷歌验证码"},"payPassword":{"type":"string","description":"支付密码"},"productId":{"type":"integer","format":"int64","description":"产品ID"},"status":{"type":"integer","format":"int32","description":"绑定状态，1：取消解绑，0：解绑"}},"title":"ProductOrderUnbindingReqVo"},"ProductShareVo":{"type":"object","properties":{"maxAmount":{"type":"integer","format":"int64"},"minAmount":{"type":"integer","format":"int64"},"userRatio":{"type":"number"}},"title":"ProductShareVo"},"RestGoogleKeyReqVo":{"type":"object","properties":{"email":{"type":"string","description":"邮箱地址"},"emailCaptcha":{"type":"string","description":"邮箱验证码"},"nonce":{"type":"string","description":"邮箱验证码随机数"},"password":{"type":"string","description":"确认密码"},"username":{"type":"string","description":"支付密码"}},"title":"RestGoogleKeyReqVo"},"R«AccountBalanceVo»":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"data":{"$ref":"#/definitions/AccountBalanceVo"},"msg":{"type":"string"}},"title":"R«AccountBalanceVo»"},"R«ArticleDetailBO»":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"data":{"$ref":"#/definitions/ArticleDetailBO"},"msg":{"type":"string"}},"title":"R«ArticleDetailBO»"},"R«AuthStatusVo»":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"data":{"$ref":"#/definitions/AuthStatusVo"},"msg":{"type":"string"}},"title":"R«AuthStatusVo»"},"R«CaptchaVo»":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"data":{"$ref":"#/definitions/CaptchaVo"},"msg":{"type":"string"}},"title":"R«CaptchaVo»"},"R«List«AnnouncementVo»»":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"data":{"type":"array","items":{"$ref":"#/definitions/AnnouncementVo"}},"msg":{"type":"string"}},"title":"R«List«AnnouncementVo»»"},"R«List«ExpendAddressVo»»":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"data":{"type":"array","items":{"$ref":"#/definitions/ExpendAddressVo"}},"msg":{"type":"string"}},"title":"R«List«ExpendAddressVo»»"},"R«List«产品订单模型»»":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"data":{"type":"array","items":{"$ref":"#/definitions/产品订单模型"}},"msg":{"type":"string"}},"title":"R«List«产品订单模型»»"},"R«List«合约产品数据»»":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"data":{"type":"array","items":{"$ref":"#/definitions/合约产品数据"}},"msg":{"type":"string"}},"title":"R«List«合约产品数据»»"},"R«List«钱包明细»»":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"data":{"type":"array","items":{"$ref":"#/definitions/钱包明细"}},"msg":{"type":"string"}},"title":"R«List«钱包明细»»"},"R«ProductDetailVo»":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"data":{"$ref":"#/definitions/ProductDetailVo"},"msg":{"type":"string"}},"title":"R«ProductDetailVo»"},"R«SettAmountResVo»":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"data":{"$ref":"#/definitions/SettAmountResVo"},"msg":{"type":"string"}},"title":"R«SettAmountResVo»"},"R«UploadResult»":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"data":{"$ref":"#/definitions/UploadResult"},"msg":{"type":"string"}},"title":"R«UploadResult»"},"R«UserInfoVo»":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"data":{"$ref":"#/definitions/UserInfoVo"},"msg":{"type":"string"}},"title":"R«UserInfoVo»"},"R«UserProfileInfo»":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"data":{"$ref":"#/definitions/UserProfileInfo"},"msg":{"type":"string"}},"title":"R«UserProfileInfo»"},"R«UserSupervisorInfoVo»":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"data":{"$ref":"#/definitions/UserSupervisorInfoVo"},"msg":{"type":"string"}},"title":"R«UserSupervisorInfoVo»"},"R«Void»":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"msg":{"type":"string"}},"title":"R«Void»"},"R«string»":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"data":{"type":"string"},"msg":{"type":"string"}},"title":"R«string»"},"R«全部钱包余额模型»":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"data":{"$ref":"#/definitions/全部钱包余额模型"},"msg":{"type":"string"}},"title":"R«全部钱包余额模型»"},"R«合约产品购买信息»":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"data":{"$ref":"#/definitions/合约产品购买信息"},"msg":{"type":"string"}},"title":"R«合约产品购买信息»"},"R«归集资金返回模型»":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"data":{"$ref":"#/definitions/归集资金返回模型"},"msg":{"type":"string"}},"title":"R«归集资金返回模型»"},"R«谷歌验证返回信息»":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"data":{"$ref":"#/definitions/谷歌验证返回信息"},"msg":{"type":"string"}},"title":"R«谷歌验证返回信息»"},"R«钱包地址信息»":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"data":{"$ref":"#/definitions/钱包地址信息"},"msg":{"type":"string"}},"title":"R«钱包地址信息»"},"R«随机数模型»":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"data":{"$ref":"#/definitions/随机数模型"},"msg":{"type":"string"}},"title":"R«随机数模型»"},"SettAmountReqVo":{"type":"object","properties":{"amount":{"type":"number","description":"提现金额"}},"title":"SettAmountReqVo"},"SettAmountResVo":{"type":"object","properties":{"amount":{"type":"number","description":"提现金额"}},"title":"SettAmountResVo"},"SettOrderReqVo":{"type":"object","properties":{"addressId":{"type":"integer","format":"int64","description":"提现地址ID"},"amount":{"type":"number","description":"提现金额"},"googleCode":{"type":"string","description":"谷歌验证码"},"payPassword":{"type":"string","description":"支付密码"}},"title":"SettOrderReqVo"},"TransactionRecordVo":{"type":"object","properties":{"buyDateTime":{"type":"string","format":"date-time"},"buyPrice":{"type":"number"},"contracts":{"type":"string"},"fee":{"type":"number"},"saleNumber":{"type":"number"},"sellDateTime":{"type":"string","format":"date-time"},"sellPrice":{"type":"number"},"totalNetProfit":{"type":"number"}},"title":"TransactionRecordVo"},"TransferToFriendReqVo":{"type":"object","properties":{"amount":{"type":"number","description":"划转金额"},"email":{"type":"string","description":"用户邮箱"},"googleCode":{"type":"string","description":"谷歌验证码"},"payPassword":{"type":"string","description":"支付密码"}},"title":"TransferToFriendReqVo"},"UploadResult":{"type":"object","properties":{"original":{"type":"string"},"rePath":{"type":"string"},"title":{"type":"string"},"url":{"type":"string"}},"title":"UploadResult"},"UserInfoVo":{"type":"object","properties":{"email":{"type":"string"},"level":{"type":"integer","format":"int32"},"username":{"type":"string"}},"title":"UserInfoVo"},"UserProfileInfo":{"type":"object","properties":{"expendAddresses":{"type":"array","items":{"$ref":"#/definitions/用户提现地址查询模型"}},"invitationCode":{"type":"string"},"loginDomain":{"type":"string"}},"title":"UserProfileInfo"},"UserSupervisorInfoVo":{"type":"object","properties":{"email":{"type":"string"},"username":{"type":"string"}},"title":"UserSupervisorInfoVo"},"产品支付信息":{"type":"object","properties":{"accountType":{"type":"integer","format":"int32","description":"钱包标识，1：入金钱包，4：归集钱包"},"number":{"type":"integer","format":"int32","description":"购买的份数"},"password":{"type":"string","description":"支付密码"},"productId":{"type":"integer","format":"int64","description":"产品ID"}},"title":"产品支付信息"},"产品订单模型":{"type":"object","properties":{"bindingStatus":{"type":"integer","format":"int32","description":"绑定的状态，0：未绑定，1：已绑定，2：取消中"},"createTime":{"type":"string","format":"date-time","description":"创建时间"},"id":{"type":"integer","format":"int64"},"lastWeekIncome":{"type":"number","description":"上周收益"},"orderAmount":{"type":"integer","format":"int64","description":"订单总价"},"orderNo":{"type":"string","description":"订单编码"},"productName":{"type":"string","description":"产品名称"},"productNumber":{"type":"integer","format":"int32","description":"购买的数量"},"totalIncome":{"type":"number","description":"以往收益"}},"title":"产品订单模型"},"全部钱包余额模型":{"type":"object","properties":{"collection":{"type":"number"},"community":{"type":"number"},"deposit":{"type":"number"},"profit":{"type":"number"}},"title":"全部钱包余额模型"},"合约产品数据":{"type":"object","properties":{"annualisedReturns":{"type":"number","description":"年化收益"},"id":{"type":"integer","format":"int64"},"maximumRetracement":{"type":"number","description":"最大回撤"},"name":{"type":"string","description":"产品名称"},"singleAmount":{"type":"number","description":"单笔金额"},"type":{"type":"integer","format":"int32","description":"产品类型"}},"title":"合约产品数据"},"合约产品购买信息":{"type":"object","properties":{"collectionBalance":{"type":"number","description":"归集钱包余额"},"collectionTotal":{"type":"integer","format":"int32","description":"归集钱包可购买数"},"depositBalance":{"type":"number","description":"入金钱包余额"},"depositTotal":{"type":"integer","format":"int32","description":"入金钱包可购买数"},"singleAmount":{"type":"integer","format":"int64","description":"合约产品单价"}},"title":"合约产品购买信息"},"归集资金模型":{"type":"object","properties":{"amount":{"type":"number","description":"划转金额"}},"title":"归集资金模型"},"归集资金返回模型":{"type":"object","properties":{"balance":{"type":"number","description":"钱包余额"}},"title":"归集资金返回模型"},"手机号模型":{"type":"object","properties":{"mobileNo":{"type":"string","description":"手机号"}},"title":"手机号模型"},"支付密码":{"type":"object","properties":{"confirmPassword":{"type":"string","description":"确认支付密码"},"password":{"type":"string","description":"支付密码"}},"title":"支付密码"},"用户提现地址修改模型":{"type":"object","properties":{"address":{"type":"string","description":"钱包地址"},"googleCode":{"type":"string","description":"谷歌验证码"},"name":{"type":"string","description":"地址名称"},"type":{"type":"string","description":"地址类型，ETHER：以太坊，TRON：波场"}},"title":"用户提现地址修改模型"},"用户提现地址查询模型":{"type":"object","properties":{"address":{"type":"string","description":"钱包地址"},"name":{"type":"string","description":"地址名称"},"type":{"type":"string"}},"title":"用户提现地址查询模型"},"用户注册模型":{"type":"object","properties":{"captcha":{"type":"string","description":"验证码"},"email":{"type":"string","description":"用户邮箱"},"emailCaptcha":{"type":"string","description":"邮箱验证码"},"invitationCode":{"type":"string","description":"邀请码"},"k":{"type":"string","description":"验证码随机数"},"nonce":{"type":"string","description":"邮箱验证码随机数"},"password":{"type":"string","description":"登录密码"},"randomDomain":{"type":"integer","format":"int32","description":"是否随机域名，0：否，1：是"},"username":{"type":"string","description":"用户名"}},"title":"用户注册模型"},"登录信息":{"type":"object","properties":{"captcha":{"type":"string","description":"验证码"},"googleCaptcha":{"type":"string","description":"谷歌验证码"},"k":{"type":"string"},"password":{"type":"string","description":"密码"},"username":{"type":"string","description":"用户名"}},"title":"登录信息"},"谷歌验证模型":{"type":"object","properties":{"code":{"type":"string","description":"谷歌验证码"},"username":{"type":"string"}},"title":"谷歌验证模型"},"谷歌验证返回信息":{"type":"object","properties":{"nonce":{"type":"string","description":"随机字符串"},"qrcode":{"type":"string","description":"Base64编码的二维码"},"token":{"type":"string","description":"谷歌秘钥"}},"title":"谷歌验证返回信息"},"身份认证模型":{"type":"object","properties":{"back":{"type":"string","description":"身份证反面图片"},"front":{"type":"string","description":"身份证正面图片"},"idCardNo":{"type":"string","description":"身份证号"}},"title":"身份认证模型"},"钱包地址信息":{"type":"object","properties":{"address":{"type":"string","description":"钱包地址"},"qrcode":{"type":"string","description":"二维码信息"},"timestamp":{"type":"integer","format":"int64","description":"生成地址的时间戳"},"token":{"type":"string","description":"代币标准"}},"title":"钱包地址信息"},"钱包明细":{"type":"object","properties":{"amount":{"type":"number","description":"账变金额"},"balance":{"type":"number","description":"账变后余额"},"createTime":{"type":"string","format":"date-time","description":"创建时间"},"fundDirection":{"type":"string","description":"账变类型"},"title":{"type":"string","description":"名称"}},"title":"钱包明细"},"随机数模型":{"type":"object","properties":{"nonce":{"type":"string","description":"随机数，用于后续接口调用"}},"title":"随机数模型"}}}